<html>
	<head>
		<title>42 - The Dominos Game</title>
	</head>
	<body>
		<p>Welcome to the home of 42, the dominos game for up to 4 people.</p>
		<p>This game is currently under development, so you should probably just come on back when it's a little more done.</p>
	</body>
</html>